@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

:root{
    --size-of-images: 200px;
    --margin-bottom-img: 50px;
}

body{
    font-family: Permanent Marker, sans-serif;
    background-color: #B4A0E5;
    color: #CAFFD0
}

h1{
    margin-top: 20px;
    text-align: center;
    font-size: 50px;
    background-color: #1E1014;
    color: #CA3CFF;
}

#playFields{
    display: flex;
    justify-content: space-between;
    width: auto;
    margin-top: 50px;
}

#PlayerOptions{
  display: flex;
  flex-direction: column;
  margin-left: 100px;
}

#playerRock{
    height: auto;
    width: auto;
    max-width: var(--size-of-images);
    max-height: var(--size-of-images);
    margin-bottom: var(--margin-bottom-img);
}

#playerPaper{
    height: auto;
    width: auto;
    max-width: var(--size-of-images);
    max-height: var(--size-of-images);
    margin-bottom: var(--margin-bottom-img);
}

#playerScissors{
    height: auto;
    width: auto;
    max-width: var(--size-of-images);
    max-height: var(--size-of-images);
    margin-bottom: var(--margin-bottom-img);
}

#CPUOptions{
    display: flex;
    flex-direction: column;
    margin-right: 100px;;
}

#CPURock{
    height: auto;
    width: auto;
    max-width: var(--size-of-images);
    max-height: var(--size-of-images);
    margin-bottom: var(--margin-bottom-img);
}

#CPUPaper{
    height: auto;
    width: auto;
    max-width: var(--size-of-images);
    max-height: var(--size-of-images);
    margin-bottom: var(--margin-bottom-img);
}

#CPUScissors{
    height: auto;
    width: auto;
    max-width: var(--size-of-images);
    max-height: var(--size-of-images);
    margin-bottom: var(--margin-bottom-img);
}

#centerInfo{
    display: flex;
    flex-direction: column;
    text-align: center;
   
}

#roundContent{
    margin-bottom: var(--margin-bottom-img);
}

#scoreDisplay{
   font-weight: bold;
   font-size: 40px;
   text-shadow: 0 0 3px rgb(12, 12, 8), 0 0 10px rgba(255, 0, 200, 0.822);  
}

#roundContent{
    text-shadow: 0 0 10px rgb(12, 12, 8), 0 0 5px rgba(255, 0, 200, 0.822); 
}