@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

:root{
    --size-of-images: 200px;
    --margin-bottom-img: 50px;
}

body{
    font-family: Permanent Marker, sans-serif;
    background-color: #B4A0E5;
    color: #CAFFD0
}

h1{
    margin-top: 20px;
    text-align: center;
    font-size: 50px;
    background-color: #1E1014;
    color: #CA3CFF;
}

.playerText, .cpuText{
    text-align: center;
    margin-bottom: 50px;
    font-size: 20px;
    color: rgb(12, 12, 8);
    background-color:#CA3CFF;
}
.playerText{
    background-color:#CA3CFF;
}
.cpuText{
    background-color:#CAFFD0;
}

#first{
    margin-bottom: 10px;
    font-size: 25px;
    color: #FC6DAB;
}

#second{
    font-size: 30px;
}

#playFields{
    display: flex;
    justify-content: space-between;
    width: auto;
    margin-top: 50px;
}

#PlayerOptions{
  display: flex;
  flex-direction: column;
  margin-left: 100px;
}

#Rock{
    height: auto;
    width: auto;
    max-width: var(--size-of-images);
    max-height: var(--size-of-images);
    margin-bottom: var(--margin-bottom-img);
}

#Paper{
    height: auto;
    width: auto;
    max-width: var(--size-of-images);
    max-height: var(--size-of-images);
    margin-bottom: var(--margin-bottom-img);
}

#Scissors{
    height: auto;
    width: auto;
    max-width: var(--size-of-images);
    max-height: var(--size-of-images);
    margin-bottom: var(--margin-bottom-img);
}

#CPUOptions{
    display: flex;
    flex-direction: column;
    margin-right: 100px;;
}

#CPURock{
    height: auto;
    width: auto;
    max-width: var(--size-of-images);
    max-height: var(--size-of-images);
    margin-bottom: var(--margin-bottom-img);
}

#CPUPaper{
    height: auto;
    width: auto;
    max-width: var(--size-of-images);
    max-height: var(--size-of-images);
    margin-bottom: var(--margin-bottom-img);
}

#CPUScissors{
    height: auto;
    width: auto;
    max-width: var(--size-of-images);
    max-height: var(--size-of-images);
    margin-bottom: var(--margin-bottom-img);
}

#centerInfo{
    display: flex;
    flex-direction: column;
    text-align: center;
   
}

#roundContent{
    margin-bottom: var(--margin-bottom-img);
}

#liveScore{
   font-weight: bold;
   font-size: 40px;
   text-shadow: 0 0 3px rgb(12, 12, 8), 0 0 10px rgba(255, 0, 200, 0.822);  
}

#roundContent{
    text-shadow: 0 0 10px rgb(12, 12, 8), 0 0 5px rgba(255, 0, 200, 0.822); 
}

.playerWeapons{
    transition: all 0.5s ease-out;
}

.playerWeapons:hover{
    transform: scale(1.3);
    filter: drop-shadow(10px 10px 5px #1E1014);
}

.playerImgAnimation{
    animation: 3.0s;
    animation-name: playerSAnimation;
    animation-fill-mode: initial;
}

@keyframes playerSAnimation{
    0%{
        transform: scale(1.3);
    }
    25%{
        transform: scale(1.5);
        filter: drop-shadow(20px 20px 5px #CA3CFF);

    }
    75%{
        transform: scale(1.5);
        filter: drop-shadow(20px 20px 5px #CA3CFF);
        
    }
}

.computerImgAnimation{
    animation: 3.0s;
    animation-name: cpuSAnimation;
    animation-fill-mode: initial;
}

@keyframes cpuSAnimation{
    25%{
        transform: scale(1.5);
        filter: drop-shadow(20px 20px 5px #CAFFD0);
        
    }
    75%{
        transform: scale(1.5);
        filter: drop-shadow(20px 20px 5px #CAFFD0);
    
    }
}
